/* Exercice 1 : Sélecteurs */

.main-nav a {
  color: #666;
}

.main-nav a.active {
  color: #bb5544;
  font-weight: bold;
}

article.featured {
  border-left: 3px solid #bb5544;
  background-color: #fff5f5;
}

article p:first-of-type {
  font-style: italic;
}

.main-nav li:nth-child(even) {
  text-decoration: underline;
}