/* Exercice 2 : Box Model */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #eee;
}

.box {
  width: 300px;
  padding: 20px;
  border: 5px solid #333;
  margin: 15px;
  background-color: #fff;
}

.box.border-box {
  box-sizing: border-box;
}